.name-words {
    font-weight: bold;
    color: #EB1960;
}

.thing-words {
    font-weight: bold;
    color: #A6A440;
}

.action-words {
    font-weight: bold;
    color: #537FBF;
}

.code-words {
    font-weight: bold;
    color: #757575;
}

.emphatic-words {
    font-weight: bold;
    color: #C0CF96;
}